<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="identifier">Identifier</label>
    <input type="text" id="identifier" formControlName="identifier">
  </div>
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title">
  </div>
  <div>
    <label for="type">Type</label>
    <select id="type" formControlName="type">
      <option value="movie">Movie</option>
      <option value="series">Series</option>
      <option value="episode">Episode</option>
    </select>
  </div>
  <div>
    <label for="releaseYear">Release Year</label>
    <input type="number" id="releaseYear" formControlName="releaseYear">
    <div *ngIf="searchForm.controls.releaseYear.errors?.['required']">Release Year is required</div>
    <div *ngIf="searchForm.controls.releaseYear.errors?.['min']">Release Year must be between
      {{ searchForm.controls.releaseYear.errors?.['min'].minYear }} and
      {{ searchForm.controls.releaseYear.errors?.['min'].maxYear }}</div>
  </div>
  <div>
    <label for="form">Form</label>
    <select id="form" formControlName="form" [disabled]="!searchForm.controls.identifier.value">
      <option value="complete">Complete</option>
      <option value="short">Short</option>
    </select>
  </div>
  <div *ngIf="searchForm.errors?.['isRequired']">One of the two fields 'ID' or 'Title' must be filled in</div>
  <button type="submit">Search</button>
</form>
